<template>
	<div class="login">
		<div class="login__box">
			<h1>Welcome back!</h1>
			<form class="login__form" autocomplete="off">
				<input
					type="email"
					class="input-field login__field"
					placeholder="Email"
				/>
				<input
					type="password"
					class="input-field login__field"
					placeholder="Password"
				/>
				<input
					type="submit"
					value="Login"
					class="button btn-action login__action"
				/>
			</form>

			<span class="login__info">
				Don't have an acount?
				<NuxtLink to="/signup" class="text-link">Sign Up</NuxtLink>
			</span>
		</div>
	</div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.login {
	height: 100vh;
	display: flex;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
		color: var(--coral);
		margin: auto;
		padding: 25px;
		background-color: var(--white);
		border-radius: 16px;
		box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	&__field {
		margin-bottom: 20px;
	}

	&__action {
		margin-top: 20px;
	}

	&__info {
		color: var(--dark);
		margin-top: 50px;
	}
}
</style>
