<template>
	<div class="verification">
		<div class="verification__box">
			<h1>OTP Verification</h1>
			<div class="verification__field">
				<input
					v-model="code[0]"
					type="phone"
					maxlength="1"
					@keyup="$event.target.nextElementSibling.focus()"
				/>
				<input
					v-model="code[1]"
					type="phone"
					maxlength="1"
					@keyup="$event.target.nextElementSibling.focus()"
				/>
				<input
					v-model="code[2]"
					type="phone"
					maxlength="1"
					@keyup="$event.target.nextElementSibling.focus()"
				/>
				<input v-model="code[3]" type="phone" maxlength="1" />
			</div>
			<button type="button" class="button btn-action">
				Send
			</button>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			code: ["", "", "", ""],
		};
	},
};
</script>

<style lang="scss" scoped>
.verification {
	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
		color: var(--coral);
		margin: auto;
		margin-top: 100px;
		padding: 25px;
		background-color: var(--white);
		border-radius: 16px;
		box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
	}

	&__field {
		margin: 50px 0;

		input {
			border: none;
			font-family: inherit;
			font-size: 18px;
			color: var(--dark);
			width: 30px;
			padding: 10px;
			text-align: center;
			border: 3px solid var(--dusty-rose);
			border-radius: 16px;
			margin: 0 5px;

			&:focus,
			&:active {
				outline: none;
			}
		}
	}
}
</style>
