<template>
	<div class="signup">
		<div class="signup__box">
			<h1>Welcome</h1>
			<form class="signup__form" autocomplete="off" @submit.prevent="signup">
				<input
					v-model="phone"
					type="tel"
					class="input-field signup__field"
					pattern="^0(\d{3,4}-?){2}\d{3,4}$"
					placeholder="Phone Number"
				/>
				<input
					v-model="password"
					type="password"
					class="input-field signup__field"
					placeholder="Password"
					minlength="8"
				/>
				<input
					type="submit"
					value="Sign Up"
					class="button btn-action signup__action"
				/>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			phone: "",
			password: "",
			location: "-7.7955798, 110.3398254",
			country: "Indonesia",
		};
	},

	mounted() {
		navigator.geolocation.getCurrentPosition(this.getLocation);
	},

	methods: {
		signup() {
			if (this.phone !== "" && this.password !== "") {
				let params = new FormData();
				params.append("phone", this.phone);
				params.append("password", this.password);
				params.append("country", this.country);
				params.append("latlong", this.location);
				params.append("device_token", "web");
				params.append("device_type", 2);

				this.$axios
					.post("/api/v1/register", params)
					.then((response) => {
						console.log(response);
					})
					.catch((error) => {
						console.log(error);
					});
			} else {
				alert("Please fill the form first.");
			}
		},
		getLocation(position) {
			this.location = `${position.coords.latitude}, ${position.coords.longitude}`;
		},
	},
};
</script>

<style lang="scss" scoped>
.signup {
	height: 100vh;
	display: flex;

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 400px;
		color: var(--coral);
		margin: auto;
		padding: 25px;
		background-color: var(--white);
		border-radius: 16px;
		box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 14%);
	}

	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}

	&__field {
		margin-bottom: 20px;
	}

	&__action {
		margin-top: 20px;
	}
}
</style>
