<template>
  <div class="home">
    <h1 class="home__title">Hello, User</h1>
    <div class="home__action">
      <button type="button" class="button btn-default" @click="goTo('signup')">
        Sign Up
      </button>
      <button type="button" class="button btn-primary" @click="goTo('login')">
        Sign In
      </button>
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    goTo(route) {
      this.$router.push({ name: route });
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 56px;
    color: var(--white);
  }

  &__action {
    margin-top: 25px;

    .button {
      margin-bottom: 15px;
    }
  }
}
</style>
