<template>
	<div class="user">
		<div class="user__header">
			<div class="user__layer"></div>
		</div>
		<div class="user__box">
			<div class="user__avatar">
				<div class="user__layer"></div>
			</div>
			<div class="user__info">
				<h2 class="user__name">Gigi Hadid</h2>
				<span>Works at Next Top Model</span>
				<span>University of Milano</span>
			</div>
		</div>

		<div class="user__gallery">
			<div class="user__photo one"></div>
			<div class="user__photo two"></div>
			<div class="user__photo three"></div>
			<div class="user__photo four"></div>
		</div>

		<div class="user__float-box">
			<div class="user__float-button">
				<icon name="plus" class="--plus-icon" />
				<span>Add Photos</span>
			</div>
		</div>
	</div>
</template>

<script>
import "vue-awesome/icons/plus";
import Icon from "vue-awesome/components/Icon";
export default {
	components: {
		Icon,
	},
};
</script>

<style lang="scss" scoped>
.one,
.two,
.three,
.four {
	background: url("~assets/img/collage/gigi3.jpeg");
}

.user {
	margin: 15px;
	border-radius: 16px;
	background-color: #fff;

	&__header {
		background: url("~assets/img/doodle.jpeg");
		height: 300px;
		border-top-right-radius: 16px;
		border-top-left-radius: 16px;
		cursor: pointer;
	}

	&__layer {
		cursor: pointer;
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:hover {
			background-color: rgba(0, 0, 0, 0.3);
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__avatar {
		position: relative;
		top: -150px;
		height: 200px;
		width: 180px;
		background: url("~assets/img/gigi.jpeg");
		background-position: center;
		background-size: cover;
		border-radius: 16px;
		border: 5px solid var(--white);
		cursor: pointer;
	}

	&__info {
		position: relative;
		top: -125px;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 18px;
		color: var(--dark);
	}

	&__name {
		color: var(--coral);
	}

	&__gallery {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-bottom: 50px;
	}

	&__photo {
		width: 300px;
		height: 400px;
		background-position: center;
		background-size: cover;
		border-radius: 8px;
		margin: 5px;
	}

	&__float-box {
		position: fixed;
		bottom: 50px;
		width: 100%;
		display: flex;
		justify-content: center;
	}

	&__float-button {
		background-color: var(--white);
		border-radius: 50px;
		color: var(--coral);
		font-size: 18px;
		width: 150px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		box-shadow: 0px 11px 35px 2px rgb(0 0 0 / 30%);

		.--plus-icon {
			margin-right: 5px;
			margin-top: -5px;
		}
	}
}
</style>
