<template>
  <div>
    <Nuxt />
  </div>
</template>

<style>
@font-face {
  font-family: "Ayar Juno";
  src: url("~assets/font/AyarJuno/ayar-juno.ttf") format("truetype");
}

html {
  font-family: "Ayar Juno";
  background-color: #fadcd9;
}

:root {
  --white: #fff;
  --dark: #747474;
  --rose-quartz: #fadcd9;
  --dusty-rose: #f8afa6;
  --coral: #f79489;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  border-radius: 16px;
  font-size: 18px;
  font-family: inherit;
  cursor: pointer;
}

.btn-default {
  background-color: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

.btn-primary {
  background-color: var(--white);
  color: var(--rose-quartz);
  border: none;
}

.btn-action {
  background-color: var(--coral);
  border: 1px solid var(--coral);
  color: var(--white);
}

.input-field {
  color: var(--dark);
  background: rgba(136, 126, 126, 0.04);
  border-radius: 20px;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.02);
  font-family: inherit;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  width: 250px;
  letter-spacing: 1px;
}

.input-field:focus,
.input-filed:active {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
  color: var(--dark);
}

.text-link {
  color: var(--dusty-rose);
  text-decoration: none;
}
</style>
